@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/MonaSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/jetbrainsmono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif:
        "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "JetBrainsMono", ui-monospace, monospace;

    --color-oxo-dark-base00: #161616;
    --color-oxo-dark-base01: #262626;
    --color-oxo-dark-base02: #393939;
    --color-oxo-dark-base03: #525252;
    --color-oxo-dark-base04: #dde1e6;
    --color-oxo-dark-base05: #f2f4f8;
    --color-oxo-dark-base06: #ffffff;

    --color-oxo-light-base00: #f2f4f8;
    --color-oxo-light-base01: #dde1e6;
    --color-oxo-light-base02: #525252;
    --color-oxo-light-base03: #161616;
    --color-oxo-light-base04: #262626;
    --color-oxo-light-base05: #393939;
    --color-oxo-light-base06: #525252;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
    overflow-y: scroll;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html,
body {
    @apply size-full;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-oxo-light-base00 dark:bg-oxo-dark-base00;
    @apply text-oxo-light-base03/75 dark:text-oxo-dark-base05/75;
}

header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-oxo-light-base01/75 dark:bg-oxo-dark-base01/75;
    @apply backdrop-blur-sm saturate-200;
}

main {
    @apply flex-1 py-32;
}

footer {
    @apply py-5 text-sm;
}

article {
    @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold prose-p:font-sans;
    @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-2;
        @apply bg-oxo-light-base02/15 dark:bg-oxo-dark-base02/30;
        @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
        @apply text-black dark:text-white;
        @apply bg-oxo-light-base02/25 dark:bg-oxo-dark-base02/50;
    }
}

.animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-700 ease-out;
}

.animate.show {
    @apply opacity-100 translate-y-0;
}

html #back-to-top {
    @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
    @apply opacity-100 pointer-events-auto;
}
